@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&family=Quicksand:wght@300;500;700&display=swap');

:root {
    --green: #00FA9A;
    --white: #fff;
    --black: #000;
    --gray: #ccc;
    --darkgray: #363636;
}

/* estilizando GERAL */
* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
    text-decoration: none;
}

body {
    color: var(--black);
    background-image: linear-gradient(var(--white), #E0FFFF);
    width: 98.5vw;
    height: 100vh;
}

.btnfeedback {
    border: 1px solid var(--black);
    padding: 12px;
    border-radius: 15px;
    color: var(--black);
    margin-right: 67%;
    margin-left: -15px;
    margin-bottom: 0;
}

.btnfeedback:hover {
    background: var(--green);
    transition: all 2s;
    cursor: pointer;
}

.feedback {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 50px;
    padding: 20px;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: flex-start;
}

.titulofeedback {
    width: 95%;
    margin: 28px;
    margin-left: 15px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
    text-align: center;
    font-size: 23px;
}

.titulofeedback span {
    font-size: 2.4rem;
    color: var(--black);
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 0%;
    background-color: #00FA9A;
    border-radius: 1px;
    border: 1px solid var(--black);
    box-shadow: 1px var(--gray);
    padding: 10px;
}

.comentarios-container {
    margin-left: 2px;
    margin-top: 13px;
}

.comentarios-box {
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-left: 22px;
    padding: 10px;
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px var(--gray);
    overflow: hidden;
    word-wrap: break-word;
}


.perfil {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: flex;
}

.nomefeedback {
    margin-left: 20px;
    margin-top: 3px;
}

.coment {
    padding-top: 13px;
    margin-bottom: 6px;
}


.imglixo {
    width: 50px;
    height: 50px;
}